[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openshift = "==0.11.2"
jupyterhub-singleuser-profiles = {ref = "13a93dcd7f28e437e0251ac99017d0b75fcacf2a", git = "https://github.com/red-hat-data-services/jupyterhub-singleuser-profiles.git", editable = true}
oauthenticator = {ref = "aad14eed654f4d36673c7207aac6e064ebc9c9ec",git = "https://github.com/tmckayus/oauthenticator.git", editable = true}

[requires]
python_version = "3.8"
