[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openshift = "==0.11.2"
jupyterhub-singleuser-profiles = "==0.4.2"
oauthenticator = {ref = "d98936da37569b7bb400c6854b07041dce3e7f87",git = "https://github.com/opendatahub-io/oauthenticator.git", editable = true}

[requires]
python_version = "3.6"
