[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openshift = "==0.11.2"
dataclasses = ">=0.6"
jupyterhub-singleuser-profiles = {ref = "f6e6bd44a353bea7e6fe416fdb68d16b38d072c9",git = "https://github.com/red-hat-data-services/jupyterhub-singleuser-profiles.git", editable = true}
oauthenticator = {ref = "2bf137c35e4eddac0a586ac054098ff74c30c779",git = "https://github.com/opendatahub-io/oauthenticator.git", editable = true}
